<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_c17d89a5e56a4addbc2adbaa94180604 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c17d89a5e56a4addbc2adbaa94180604" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_c17d89a5e56a4addbc2adbaa94180604 = L.map(
                                  'map_c17d89a5e56a4addbc2adbaa94180604',
                                  {center: [40.74564576666666,-73.97902800000001],
                                  zoom: 11,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_72621c831fdf426586208f10b4227d05 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_c17d89a5e56a4addbc2adbaa94180604);
        
    

            var marker_58dde0fc3eb1472cbae329829d208d22 = L.marker(
                [40.7345716,-74.0631544],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c17d89a5e56a4addbc2adbaa94180604);
            
    

            var marker_975ef2fe5fd04efb8b983e92f7516b14 = L.marker(
                [40.77430260000001,-73.87183639999999],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c17d89a5e56a4addbc2adbaa94180604);
            
    
                var poly_line_3018e87f9d4a4a50b6e1c3433f6cb7d0 = L.polyline(
                    [[40.7345716, -74.0631544], [40.7326829, -74.0626888], [40.7427731, -73.992594], [40.7429014, -73.99255939999999], [40.746643, -73.891335], [40.77430260000001, -73.87183639999999]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}).addTo(map_c17d89a5e56a4addbc2adbaa94180604);
            
</script>