<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_e7489fd46faa4cb6abb322dc41cea60b {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_e7489fd46faa4cb6abb322dc41cea60b" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_e7489fd46faa4cb6abb322dc41cea60b = L.map(
                                  'map_e7489fd46faa4cb6abb322dc41cea60b',
                                  {center: [40.713376600000004,-73.92790445714286],
                                  zoom: 11,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_65a47957892f45238abfb41d179b957c = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_e7489fd46faa4cb6abb322dc41cea60b);
        
    

            var marker_77dc492188714311af8889e444d70274 = L.marker(
                [40.5976176,-73.9533178],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e7489fd46faa4cb6abb322dc41cea60b);
            
    

            var marker_6de879547e224a9bad42db9b5bf068ea = L.marker(
                [40.77430260000001,-73.87183639999999],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e7489fd46faa4cb6abb322dc41cea60b);
            
    
            var regular_polygon_marker_412815fbef924cf7b6b8e96b0d6c8e4c = new L.RegularPolygonMarker(
                new L.LatLng(40.5976176,-73.9533178),
                {
                    icon : new L.Icon.Default(),
                    color: 'black',
                    opacity: 1,
                    weight: 2,
                    fillColor: '#132b5e',
                    fillOpacity: 1,
                    numberOfSides: 10,
                    rotation: 0,
                    radius: 5
                    }
                )
                .addTo(map_e7489fd46faa4cb6abb322dc41cea60b);
            
    
            var regular_polygon_marker_e74afa98d28645c696ef2ce6f90ffc30 = new L.RegularPolygonMarker(
                new L.LatLng(40.5993,-73.955933),
                {
                    icon : new L.Icon.Default(),
                    color: 'black',
                    opacity: 1,
                    weight: 2,
                    fillColor: '#132b5e',
                    fillOpacity: 1,
                    numberOfSides: 10,
                    rotation: 0,
                    radius: 5
                    }
                )
                .addTo(map_e7489fd46faa4cb6abb322dc41cea60b);
            
    
            var regular_polygon_marker_1737b35c2c4149258175a2e6ffa2c3ee = new L.RegularPolygonMarker(
                new L.LatLng(40.764629,-73.96611),
                {
                    icon : new L.Icon.Default(),
                    color: 'black',
                    opacity: 1,
                    weight: 2,
                    fillColor: '#132b5e',
                    fillOpacity: 1,
                    numberOfSides: 10,
                    rotation: 0,
                    radius: 5
                    }
                )
                .addTo(map_e7489fd46faa4cb6abb322dc41cea60b);
            
    
            var regular_polygon_marker_56dd64a4457e4f71a40cce2c80c99c3b = new L.RegularPolygonMarker(
                new L.LatLng(40.764629,-73.96611),
                {
                    icon : new L.Icon.Default(),
                    color: 'black',
                    opacity: 1,
                    weight: 2,
                    fillColor: '#132b5e',
                    fillOpacity: 1,
                    numberOfSides: 10,
                    rotation: 0,
                    radius: 5
                    }
                )
                .addTo(map_e7489fd46faa4cb6abb322dc41cea60b);
            
    
            var regular_polygon_marker_512bb83ea99545768ee281d55a2f4590 = new L.RegularPolygonMarker(
                new L.LatLng(40.746643,-73.891335),
                {
                    icon : new L.Icon.Default(),
                    color: 'black',
                    opacity: 1,
                    weight: 2,
                    fillColor: '#132b5e',
                    fillOpacity: 1,
                    numberOfSides: 10,
                    rotation: 0,
                    radius: 5
                    }
                )
                .addTo(map_e7489fd46faa4cb6abb322dc41cea60b);
            
    
            var regular_polygon_marker_ef38c80cc808432396c57f4e757782ba = new L.RegularPolygonMarker(
                new L.LatLng(40.746515,-73.890689),
                {
                    icon : new L.Icon.Default(),
                    color: 'black',
                    opacity: 1,
                    weight: 2,
                    fillColor: '#132b5e',
                    fillOpacity: 1,
                    numberOfSides: 10,
                    rotation: 0,
                    radius: 5
                    }
                )
                .addTo(map_e7489fd46faa4cb6abb322dc41cea60b);
            
    
            var regular_polygon_marker_4d2064b0fad848029d5ab72c17c3e542 = new L.RegularPolygonMarker(
                new L.LatLng(40.77430260000001,-73.87183639999999),
                {
                    icon : new L.Icon.Default(),
                    color: 'black',
                    opacity: 1,
                    weight: 2,
                    fillColor: '#132b5e',
                    fillOpacity: 1,
                    numberOfSides: 10,
                    rotation: 0,
                    radius: 5
                    }
                )
                .addTo(map_e7489fd46faa4cb6abb322dc41cea60b);
            
    
                var poly_line_f27d747cdce64d4ea874d7ab2a54dda7 = L.polyline(
                    [[40.5976176, -73.9533178], [40.5993, -73.955933], [40.764629, -73.96611], [40.764629, -73.96611], [40.746643, -73.891335], [40.746515, -73.890689], [40.77430260000001, -73.87183639999999]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}).addTo(map_e7489fd46faa4cb6abb322dc41cea60b);
            
</script>